html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--c-primary);
  z-index: 500;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  background: #3e6282;
}
.loader.active {
  visibility: visible;
  opacity: 1;
}
.loader__text {
  position: absolute;
  top: 10%;
  left: 49%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
}
.loader .anakausug {
  position: absolute;
  top: 50%;
  left: 47%;
  width: 38px;
  height: 38px;
  color: #f7f4f4;
  background: white;
  border-radius: 50%;
  -webkit-animation: radial-anakausug 1s infinite;
          animation: radial-anakausug 1s infinite;
}
@-webkit-keyframes radial-anakausug {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 40px rgba(243, 243, 243, 0);
            box-shadow: 0 0 0 40px rgba(243, 243, 243, 0);
  }
}
@keyframes radial-anakausug {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 40px rgba(243, 243, 243, 0);
            box-shadow: 0 0 0 40px rgba(243, 243, 243, 0);
  }
}

.scrollToTopBtn {
  background-color: var(--orange);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;
  width: 48px;
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 99;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 50%;
}

.showBtn {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.head {
  background: url("../../../../img/slider-bg-3.webp");
  background-size: cover;
  height: 760px;
  width: 100%;
}
@media (max-width: 1000px) {
  .head {
    height: 550px;
  }
}
@media (max-width: 768px) {
  .head {
    height: 520px;
  }
}
@media (max-width: 700px) {
  .head {
    height: 469px;
  }
}
@media (max-width: 576px) {
  .head {
    height: 585px;
  }
}

.header {
  position: fixed;
  top: 60px;
  border-top: 1.5px solid white;
  width: 100%;
  left: 0;
  padding: 0 100px;
  z-index: 3;
  -webkit-transition: background-color 0.3s linear, -webkit-transform 0.4s linear;
  transition: background-color 0.3s linear, -webkit-transform 0.4s linear;
  transition: transform 0.4s linear, background-color 0.3s linear;
  transition: transform 0.4s linear, background-color 0.3s linear, -webkit-transform 0.4s linear;
}
@media (max-width: 1000px) {
  .header {
    top: 0;
    border-top: 0;
    padding: 0 30px;
  }
}
.header__first-links {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  .header__first-links {
    min-height: 0;
  }
}
.header .border-span {
  display: block;
  height: 3px;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  border-bottom: 1px;
  opacity: 0.5;
}
.header__first-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__first-info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__first-info ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header__first-info ul li a i {
  margin-right: 5px;
  font-size: 18px;
}
.header__first-info ul li a:hover {
  color: var(--bs-gray-300);
}
.header__first-info ul li .email {
  margin-left: 5px;
  cursor: pointer;
}
.header__first-info ul li .number {
  cursor: pointer;
}
@media (max-width: 1000px) {
  .header__first-info {
    display: none;
  }
}
.header__first-social i {
  margin-left: 15px;
}
.header__first-social a {
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.header__first-social a:hover {
  color: var(--bs-gray-400);
}
@media (max-width: 1000px) {
  .header__first-social {
    display: none;
  }
}
.header__last-info {
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  .header__last-info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 30px;
  }
}
.header__last-logo a {
  font-size: 37px;
  line-height: 20px;
  font-weight: 700;
  color: var(--white);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  margin-right: 5px;
}
.header__last-logo a:hover {
  color: var(--hvr-orange);
}
.header__last-linked {
  width: 750px;
}
@media (max-width: 1000px) {
  .header__last-linked {
    display: none;
  }
}
.header__last-linked ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__last-linked ul li {
  font-weight: 600;
  font-size: 17px;
}
.header__last-linked ul li a {
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.header__last-linked ul li a:hover {
  color: var(--hvr-orange);
}
.header__last-linked ul li ._button {
  margin-left: 20px;
  color: #ffffff;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ff5325), color-stop(51%, #ff7c3f), to(#ff5325));
  background-image: linear-gradient(to right, #ff5325 0, #ff7c3f 51%, #ff5325 100%);
  padding: 10px 24px;
  border-radius: 5px;
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
  text-decoration: none;
  z-index: 60;
  font-weight: 400;
}
.header__last-linked ul li ._button:hover {
  background-position: 0 100%;
  color: white;
}
@media (min-width: 1000px) {
  .header .burger-menu {
    display: none;
  }
}
.header .burger-menu span {
  display: block;
  height: 2px;
  width: 40px;
  background: var(--white);
}
.header .burger-menu span:nth-child(1) {
  margin-bottom: 8px;
}
.header .burger-menu span:nth-child(2) {
  margin-bottom: 8px;
  width: 20px;
  height: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header .burger-menu.active span:nth-child(2) {
  width: 40px;
}
.header .burger-close {
  position: absolute;
  margin-top: 15px;
  right: 15px;
}
.header .burger-close p {
  color: white;
  background: var(--orange);
  width: 30px;
  border-radius: 5px;
  padding: 7px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .burger-panel {
  position: fixed;
  right: 0;
  text-align: left;
  background: white;
  width: 400px;
  height: 100%;
  top: 0;
  padding: 0 23px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 40;
}
@media (max-width: 576px) {
  .header .burger-panel {
    width: 300px;
  }
}
.header .burger-panel ul {
  margin-top: 45px;
}
.header .burger-panel li {
  padding: 12px 0;
  font-size: 15px;
  color: var(--bs-gray-dark);
  border-bottom: 1px solid #f0f0f0;
}
.header .burger-panel li:last-child {
  border-bottom: 0;
}
.header .burger-panel.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header.hide {
  background: white;
  color: black;
  top: 0;
  -webkit-box-shadow: 3px 23px 21px -13px rgba(34, 60, 80, 0.2);
          box-shadow: 3px 23px 21px -13px rgba(34, 60, 80, 0.2);
  height: 90px;
  z-index: 20;
}
.header.hide a {
  color: black;
}
.header.hide .burger-menu span {
  background: var(--orange);
}

.welcome {
  margin-top: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 593px;
}
@media (min-width: 2000px) {
  .welcome {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1000px) {
  .welcome {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 576px) {
  .welcome {
    margin-top: 0;
  }
}
.welcome__wrapper {
  max-width: 1686px;
  padding: 0;
  margin: 0 0px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1500px) {
  .welcome__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 14px;
  }
}
@media (max-width: 1280px) {
  .welcome__wrapper {
    margin-left: 30px;
    margin-right: 100px;
  }
}
@media (max-width: 768px) {
  .welcome__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 576px) {
  .welcome__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 10px;
    height: 100%;
  }
}
.welcome__left {
  height: 316px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1400px) {
  .welcome__left {
    height: 340px;
  }
}
@media (max-width: 1280px) {
  .welcome__left {
    height: 443px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  .welcome__left {
    height: 210px;
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .welcome__left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .welcome__left {
    height: 355px;
  }
}
.welcome__left h1 {
  color: var(--orange);
  margin-top: 60px;
  font-weight: 600;
  line-height: 25px;
  font-size: 21px;
}
@media (max-width: 1280px) {
  .welcome__left h1 {
    font-size: 19px;
  }
}
.welcome__left p {
  line-height: 65px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 60px;
}
@media (max-width: 1500px) {
  .welcome__left p {
    font-size: 52px;
  }
}
@media (max-width: 1280px) {
  .welcome__left p {
    font-size: 29px;
    line-height: 34px;
  }
}
@media (max-width: 768px) {
  .welcome__left p {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 576px) {
  .welcome__left p {
    font-size: 25px;
    line-height: 40px;
  }
}
.welcome__left ._button {
  margin-top: 30px;
  max-width: 172px;
  height: auto;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ff5325), color-stop(51%, #ff7c3f), to(#ff5325));
  background-image: linear-gradient(to right, #ff5325 0, #ff7c3f 51%, #ff5325 100%);
  padding: 6px 30px;
  border-radius: 5px;
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
  text-decoration: none;
}
@media (max-width: 1280px) {
  .welcome__left ._button {
    max-width: 150px;
    line-height: 20px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .welcome__left ._button {
    padding: 6px 15px;
    line-height: 15px;
  }
}
@media (max-width: 576px) {
  .welcome__left ._button {
    padding: 6px 15px;
    line-height: 18px;
    display: block;
    margin-top: 22px;
  }
}
.welcome__left ._button:hover {
  background-position: 0 100%;
  color: white;
}
.welcome__right {
  max-height: 500px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 500px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  padding-top: 2px;
}
@media (max-width: 1100px) {
  .welcome__right {
    width: 350px;
    max-height: 350px;
  }
}
@media (max-width: 1000px) {
  .welcome__right {
    margin-top: 95px;
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .welcome__right {
    width: 320px;
    height: 320px;
    padding-top: 20px;
  }
}
@media (max-width: 700px) {
  .welcome__right {
    width: 268px;
    height: 268px;
  }
}
@media (max-width: 576px) {
  .welcome__right {
    margin-top: 0;
    margin-right: 160px;
    width: 230px;
    height: 230px;
  }
}
@media (max-width: 420px) {
  .welcome__right {
    margin-right: 100px;
  }
}
@media (max-width: 768px) {
  .welcome__right img {
    margin-top: 1px;
  }
}
@media (max-width: 576px) {
  .welcome__right img {
    margin-top: 0;
  }
}
.welcome__right .brain-image {
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.welcome__right .stage {
  position: absolute;
  width: 161px;
  right: -15px;
  top: -40px;
  height: 330px;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@media (max-width: 1100px) {
  .welcome__right .stage {
    width: 118px;
    height: 242px;
  }
}
@media (max-width: 768px) {
  .welcome__right .stage {
    width: 108px;
    height: 221px;
  }
}
@media (max-width: 700px) {
  .welcome__right .stage {
    width: 90px;
    height: 185px;
  }
}
@media (max-width: 576px) {
  .welcome__right .stage {
    width: 60px;
    height: 120px;
    top: 25px;
  }
}
.welcome__right .box {
  width: 100%;
  height: 100%;
}
.welcome__right .woman {
  position: absolute;
  width: 215px;
  height: 512px;
  right: -182px;
  top: 32px;
}
@media (max-width: 1100px) {
  .welcome__right .woman {
    width: 116px;
    height: 283px;
    right: -90px;
    top: 100px;
  }
}
@media (max-width: 768px) {
  .welcome__right .woman {
    width: 106px;
    height: 258px;
  }
}
@media (max-width: 700px) {
  .welcome__right .woman {
    width: 89px;
    height: 216px;
    top: 90px;
  }
}
@media (max-width: 576px) {
  .welcome__right .woman {
    width: 78px;
    height: 180px;
    right: -60px;
    top: 20px;
  }
}
.welcome__right .bounce-1 {
  -webkit-animation-name: bounce-1;
          animation-name: bounce-1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@-webkit-keyframes bounce-1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce-1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}