$xs: 420px;
$sm: 576px;
$mds: 700px;
$md: 768px;
$lg: 900px;
$xr: 1000px;
$xls: 1100px;
$xl: 1280px;
$lx: 1400px;
$lxx: 1500px;
$xxl: 1600px;
$bxxl: 1650px;
$xxxl: 1700px;
$tv: 2000px;




