@use '../../breakpoints' as bp;


.roas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0;
  color: var(--bs-dark);
  background: #eff1f7;

  &__title {
    text-align: center;
    margin-bottom: 50px;
    @media(max-width: bp.$xr) {
      margin-bottom: 10px;

    }

    h2 {
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 40px;
      @media(max-width: bp.$xr) {
        font-size: 30px;
        margin: 0 10px 15px 10px;
      }
    }
  }

  &__subtitle {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    text-align: center;
    justify-content: center;
    @media(max-width: bp.$xr) {
      font-size: 18px;
      margin: 0 20px;
    }

    h3 {
      max-width: 1000px;
      line-height: 30px;

      span {
        color: var(--bs-orange);
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    @media (max-width: bp.$xr) {
      flex-direction: column-reverse;
    }
  }

  &__chart {
    display: flex;
    justify-content: center;
    @media(max-width: bp.$xr) {
      margin: 0 20px;
    }

    img {
      box-shadow: 10px 10px 50px 5px rgba(37, 37, 37, 0.2);
      max-width: 100%;
      @media(max-width: bp.$xr) {
        max-width: 100% !important;

      }
    }
  }

  &__right {
    margin-left: 25px;
    @media(max-width: bp.$xr) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
    }

    .title {
      font-size: 18px;
      font-weight: 600;
      max-width: 500px;
      line-height: 26px;
      @media(max-width: bp.$xr) {
        margin-top: 40px;
      }

      p {
        span {
          color: var(--bs-orange);
        }
      }
    }

    .list {
      margin-top: 40px;
      font-size: 18px;
      font-weight: 600;
      @media(max-width: bp.$xr) {
        margin-top: 0;
      }

      ul {
        margin-top: 20px;

        li {
          margin-top: 10px;
          cursor: default;

          ._rd {
            font-weight: 700;
            color: #d20000;
            font-size: 20px;
            letter-spacing: 2px;
          }

          ._bld {
            font-weight: 700;
            color: #026902;
            font-size: 20px;
            letter-spacing: 2px;
          }

          i {
            font-size: 13px;
            color: var(--bs-orange);
          }

          span {
            color: var(--bs-orange);
            font-size: 21px;
            letter-spacing: 2px;
          }
        }
      }
    }
  }


}


.transfer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--bs-gray-dark);
  padding-bottom: 80px;

  span {
    color: #ff5224;
  }

  &__title {
    margin: 45px 0 25px 0;
    text-align: center;
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
    @media (max-width: bp.$md) {
      font-size: 30px;
      line-height: 35px;
    }
  }

  &__subtitle {
    margin: 5px 0 10px 0;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;

    h5 {
      max-width: 900px;
      margin: 0 5px;
    }

    @media (max-width: bp.$md) {
      font-size: 18px;
      line-height: 35px;
    }
  }

  &__block {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    @media (max-width: bp.$xr) {
      flex-direction: column;
      align-items: center;
    }

    .block__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 12;
      @media (max-width: bp.$xr) {
        flex-direction: row;
      }

      .icons {
        position: relative;
        @media(max-width: bp.$xr) {
          position: absolute;
          transform: rotate(90deg);
          margin: 150px 0 0 150px;
        }

        #android {
          position: absolute;
          right: 20px;
          top: -20px;
        }

        #pin {
          position: absolute;
          top: 20px;
          right: 25px;
        }

        #chrome {
          position: absolute;
          top: 45px;
          right: 20px;
        }

        #iphone {
          position: absolute;
          top: 145px;
          right: 20px;
        }

        #attention {
          position: absolute;
          top: 110px;
          right: 20px;
        }

        #mac {
          position: absolute;
          top: 160px;
          right: 25px;
        }

        #computer {
          position: absolute;
          top: 70px;
          right: 20px;
        }
      }

      .pyxl__inf {
        background: #f7eee9;
        padding: 10px 20px;
        border-radius: 10px;
        font-weight: 700;
        margin: -28px 10px 30px 0;
        z-index: 12;
        @media (max-width: bp.$xr) {
          margin: 90px 10px 0 10px;
        }

        p {
          span {
            display: block;
            color: #FF5224;
            text-align: center;
          }
        }
      }

      .pyxl__child {
        ul {
          padding-left: 15px;

          li {
            list-style: outside;
            margin: 5px 0 5px;
            font-size: 18px;
          }
        }
      }

      .crm__inf {
        background: #f7eee9;
        padding: 10px 20px;
        border-radius: 10px;
        font-weight: 700;
        margin: 0 10px 53px 0;
        z-index: 12;
        @media (max-width: bp.$xr) {
          margin: 90px 10px 0 0;
          max-width: 180px;
        }

        @media(max-width: bp.$sm) {
          max-width: 145px;
        }

        p {
          color: #FF5224;
          text-align: center;
          margin-bottom: 5px;
        }

        ul {
          padding-left: 15px;

          li {
            list-style: outside;
            margin: 5px 0 5px;
            font-size: 18px;
            @media (max-width: bp.$md) {
              font-size: 16px;
            }
          }
        }
      }

    }

    .block__center {
      position: relative;
      z-index: 12;
      @media (max-width: bp.$xr) {
        .non {
          display: none;
        }
      }
      @media(min-width: bp.$xr) {
        .flex {
          display: none;
        }
      }


    }

    .block__right {
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin-left: 15px;

      .facebook {

        width: 200px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        justify-content: center;
        font-weight: 600;
        padding: 0 30px 10px 30px;
        margin-bottom: 26px;
        box-shadow: 10px 10px 50px 5px rgba(37, 37, 37, 0.2);
        border-radius: 20px;
        position: relative;

        .user {
          position: absolute;
          top: 0px;
          left: -220px;
          @media(max-width: bp.$xr) {
            right: -90px;
            transform: rotate(90deg);
            top: -100px;
          }

          .wrap__user {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #4492fa;
            font-weight: 600;
            position: relative;

            img {
              @media(max-width: bp.$xr) {
                position: absolute;
                transform: rotate(-90deg);
              }
            }

            p {
              @media(max-width: bp.$xr) {
                position: absolute;
                transform: rotate(-90deg);
                right: 185px;
                top: 5px;
              }
            }
          }
        }
      }

      .google {
        width: 200px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        justify-content: center;
        font-weight: 600;
        padding: 0 30px 10px 30px;
        box-shadow: 10px 10px 50px 5px rgba(37, 37, 37, 0.2);
        border-radius: 20px;
        margin-bottom: 82px;
        position: relative;

        .predict__value {
          position: absolute;
          font-size: 20px;
          color: var(--bs-orange);
          top: -25%;
          right: 350px;
          width: 100%;
          @media(max-width: bp.$xr) {
            left: 0;
          }
        }

        .users {
          position: absolute;
          top: 3px;
          right: 400px;
          z-index: 0;

          @media(max-width: bp.$xr) {
            right: 50px;
            transform: rotate(90deg);
            top: -250px;
          }

          .wrap__user {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #4492fa;
            font-weight: 600;
            font-size: 14px;

            img {
              @media(max-width: bp.$xr) {
                position: absolute;
                transform: rotate(-90deg);
              }
            }

            p {
              @media(max-width: bp.$xr) {
                position: absolute;
                transform: rotate(-90deg);
                top: 10px;
                left: 5px;
              }
            }
          }
        }
      }
    }

  }
}

.chart-adaptive {
  display: flex;
  justify-content: center;
  @media (min-width: bp.$xr) {
    display: none;
  }

  img {
    max-width: 100%;
  }
}

.block-chart {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  position: relative;
  font-size: 25px;
  @media (max-width: bp.$xr) {
    display: none;
  }

  .chart__y {
    position: absolute;
    color: black;
    left: 153px;
    background-color: #fff;
    margin: 0;
  }

  .chart__y_1 {
    top: 18%;
  }

  .chart__y_2 {
    top: 33%;
  }

  .chart__y_3 {
    top: 47.5%;
    left: 151px;
  }

  .chart__y_4 {
    top: 62.5%;
    left: 152px;
  }

  .chart__y_5 {
    top: 77%;
    left: 150px;
  }

  .chart__x {
    position: absolute;
    bottom: 15px;
    margin: 0;
    color: black;
    background-color: #fff;
  }

  .chart__x_1 {
    left: 23%;
  }

  .chart__x_2 {
    left: 37%;
  }

  .chart__x_3 {
    left: 51%;
  }

  .chart__x_4 {
    left: 66%;
  }

  .chart__x_5 {
    left: 80%;
  }

  #myChart {
    margin-left: 93px;
    @media (max-width: bp.$xs) {
      position: absolute;
    }
  }


}

.bubble-chart {
  margin-bottom: 100px;

}

.bubble__title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
  color: var(--bs-gray-dark);
  text-align: center;
  margin: 100px 5px 42px 5px;

  h3 {
    margin-bottom: 10px;
  }

  h2 {
    font-size: 18px;
    max-width: 800px;
    line-height: 30px;
    font-weight: 600;
    margin: 0 auto;

    span {
      color: #ff5224;
    }
  }

  @media (max-width: bp.$lg) {
    font-size: 26px;
  }
}

.capabilities {
  padding: 5px 0 30px;
  background: #eff1f7;

  &__title {
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
    color: var(--bs-gray-dark);
    text-align: center;
    margin: 100px 5px 42px 5px;
    display: flex;
    justify-content: center;
    @media(max-width: bp.$lg) {
      font-size: 22px;
      line-height: 28px;
    }

    h3 {
      max-width: 1100px;
    }

    span {
      color: #ff5224;
    }
  }

  &__list {
    color: var(--bs-gray-dark);
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;

    ul {
      @media(max-width: bp.$lg) {
        margin: 0 10px;
      }

      li {
        @media(max-width: bp.$lg) {
          line-height: 35px;
          border-bottom: 1px solid #ff5224;
          font-size: 18px;
          padding: 5px 0;
        }
        line-height: 40px;
        list-style: inside;

        span {
          font-weight: 700;
        }
      }
    }
  }

  &__problems {
    margin: 50px 0 20px;
    background: var(--bs-white);
    color: var(--bs-gray-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    align-items: center;

    .problems {
      &__title {
        display: flex;
        font-weight: 600;
        font-size: 40px;
        @media (max-width: bp.$lg) {
          font-size: 22px;
          line-height: 28px;
          margin: 0 5px;
        }

        span {
          color: #ff5224;
        }
      }

      &__list {

        margin: 15px 0 15px;
        border-radius: 15px;

      }
    }

    ul {
      padding: 10px;
      border-radius: 15px;
    }

    img {
      max-width: 100%;
      margin: 0 17px;
    }
  }
}

.campaigns {
  padding: 20px 0;
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    @media (max-width: bp.$md) {
      flex-direction: column;
    }
  }

  &__left {
    width: 500px;
    height: 522px;
    position: relative;
    @media (max-width: bp.$xr) {
      margin-bottom: 40px;
    }

    .man {
      display: flex;
      position: absolute;
      bottom: 0;
      @media (max-width: bp.$sm) {
        left: 50%;
        transform: translate(-50%);
      }

      img {
        width: 490px;
        height: 342px;
        @media (max-width: bp.$sm) {
          width: 400px;
          height: 280px;
        }

      }
    }

    .ring_jump {
      position: absolute;
      left: -50px;
      top: 60%;
      transform: rotate(239deg);
      @media (max-width: bp.$sm) {
        left: 50px;
      }

      .x-axis, .y-axis {
        display: inline-block;
        animation: 15s ease-in-out alternate infinite;
      }

      .x-axis {
        animation-name: moveX;
      }

      .y-axis {
        animation-name: moveY;
      }

      @keyframes moveX {
        0% {
          animation-timing-function: ease-out;
          transform: translateX(0px);
        }
        50% {
          animation-timing-function: ease-in;
          transform: translateX(94px);
        }
        100% {
          transform: translateX(0px);
        }
      }

      @keyframes moveY {
        0% {
          transform: translateY(90px);
        }
        100% {
          transform: translateY(00px);
        }
      }
    }


    .triangle {
      position: absolute;
      right: 50px;
      top: 50%;
      @media (max-width: bp.$sm) {
        right: 108px;
        top: 60%;
      }

      .jumped {
        animation-duration: 8s;
        animation-iteration-count: infinite;
        transform-origin: bottom;
      }

      .bounce-2 {
        animation-name: bounce-2;
        animation-timing-function: linear;
      }

      @keyframes bounce-2 {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-40px);
        }
        100% {
          transform: translateY(0);
        }
      }
    }

    .cloud {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      top: 80px;
      @media (max-width: bp.$sm) {
        top: 120px;
      }

      img {
        width: 148px;
        height: 43px;

      }

      .jumped {
        animation-duration: 9s;
        animation-iteration-count: infinite;
        transform-origin: bottom;
      }

      .bounce-3 {
        animation-name: bounce-3;
        animation-timing-function: linear;
      }

      @keyframes bounce-3 {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-40px);
        }
        100% {
          transform: translateY(0);
        }
      }
    }

    .react-ico {
      position: absolute;
      top: 94px;
      left: 32px;
      z-index: 3;
      @media (max-width: bp.$sm) {
        top: 160px;
        left: 91px;
      }

      img {
        width: 71px;
      }

      img.rot {
        animation: 5s linear 0s normal none infinite running rot;
        -webkit-animation: 5s linear 0s normal none infinite running rot;

      }

      @keyframes rot {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      @-webkit-keyframes rot {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }


    }

    .fix-ico {
      position: absolute;
      top: 95px;
      right: 56px;
      z-index: 3;
      @media (max-width: bp.$sm) {
        top: 160px;
        right: 91px;
      }

      img {
        width: 71px;
      }

      img.rot {
        animation: 5s linear 0s normal none infinite running rot;
        -webkit-animation: 5s linear 0s normal none infinite running rot;
      }

      @keyframes rot {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      @-webkit-keyframes rot {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

    }

    .line-left {
      position: absolute;
      top: 149px;
      left: 79px;
      @media (max-width: bp.$sm) {
        top: 198px;
        left: 125px;
      }

      img {
        width: 88px;
      }
    }

    .line-right {
      position: absolute;
      top: 149px;
      right: 106px;

      @media (max-width: bp.$sm) {
        top: 198px;
        right: 125px;
      }

      img {
        width: 88px;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 70px;
    @media (max-width: bp.$xr) {
      padding: 0;
    }
    @media (max-width: bp.$mds) {
      margin: 0 7px;
    }

    h3 {
      font-size: 30px;
      line-height: 40px;
      color: var(--bs-gray-dark);
      font-weight: 600;
      margin-bottom: 18px;
      max-width: 440px;
      @media (max-width: bp.$lg) {
        max-width: 400px;
      }
      @media (max-width: bp.$mds) {
        margin: 0 auto;
        text-align: center;
        font-size: 22px;
        width: 300px;
        align-items: center;
      }
    }

    .campaigns__text-title {
      font-size: 16px;
      line-height: 1.7;
      color: var(--bs-gray-dark);
      margin-bottom: 40px;
      max-width: 510px;

      @media (max-width: bp.$mds) {
        max-width: 300px;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
      }
    }
  }

  p {
    color: var(--bs-gray-dark);
  }

  &__cards {
    margin-bottom: 40px;
    @media (max-width: bp.$mds) {
      margin-top: 30px;
    }
  }

  &__card {
    cursor: default;
    transition: all .5s ease;
    margin-bottom: 30px;
    display: flex;

    span {
      font-size: 19px;
      line-height: 20px;
      font-weight: 600;
      display: flex;
      align-items: center;

      ._pd {
        @media (max-width: bp.$mds) {
          width: 188px;
        }
      }

      i {
        margin: 10px 15px 0 0;
        color: var(--orange);
      }

      p {
        max-width: 500px;

        @media(max-width: bp.$xr) {
          max-width: 300px;
        }
      }
    }
  }


  .hello {

    color: var(--white);
    overflow: hidden;
    background-image: linear-gradient(to right, #ff5325 0, #ff7c3f 51%, #ff5325 100%);
    padding: 10px 24px;
    border-radius: 5px;
    background-size: 200% 100%;
    background-position: -100%;
    transition: background-position 275ms ease;
    text-decoration: none;
    z-index: 60;
    font-weight: 600;

    &:hover {
      background-position: 0 100%;
      color: white;
    }
  }
}

.usecases {
  padding: 85px 0 85px 0;

  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #222;
    line-height: 42px;
    margin-bottom: 25px;
  }

  &__cards {
    display: flex;
    justify-content: center;
    @media (max-width: bp.$xl) {
      flex-wrap: wrap;
      max-width: 1300px;
    }
  }

  &__card {

    @media (max-width: bp.$xl) {
      margin-bottom: 15px;
    }

    .card__text {
      color: var(--bs-gray-dark);
      max-width: 419px;
      padding: 28px 35px 35px 35px;
      background: white;
      box-shadow: 0 7px 24px rgb(158 158 158 / 25%);
      font-weight: 600;
      @media (max-width: bp.$xs) {
        width: 327px;
        margin: 0 auto;
      }

      h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 12px;
      }

      ul {
        margin-bottom: 30px;

        li {
          list-style: outside;
          margin-bottom: 10px;
          font-size: 17px;
        }
      }

      .button {
        margin-bottom: 10px;

        a {
          color: var(--white);
          overflow: hidden;
          background-image: linear-gradient(to right, #ff5325 0, #ff7c3f 51%, #ff5325 100%);
          padding: 10px;
          border-radius: 5px;
          background-size: 200% 100%;
          background-position: -100%;
          transition: background-position 275ms ease;
          text-decoration: none;
          z-index: 60;
          font-weight: 500;
          font-size: 15px;

          &:hover {
            background-position: 0 100%;
            color: white;
          }
        }
      }
    }
  }

  ._padding {
    @media (max-width: bp.$xl) {
      padding-bottom: 69px;
    }
  }

  ._center {
    margin: 0 30px;
    @media (max-width: bp.$xl) {
      margin-bottom: 15px;
    }
  }

  .card__img {

    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    user-select: none;
    pointer-events: none;

    @media (max-width: bp.$xs) {
      width: 327px;
      height: 218px;
    }

    img {
      border: 1px solid white;
    }

    p {
      position: absolute;
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: var(--bs-orange);
      font-weight: 700;
      font-size: 35px;
      width: 50%;
      backdrop-filter: blur(8px);
      background: rgba(255, 255, 255, 0.65);
      padding: 10px 5px;
      border-radius: 10px;
    }

    .smm {
      width: 450px;
      height: 100%;
      filter: blur(1px);
    }

    .saas {
      width: 320px;
      height: 100%;
    }

    .set {
      width: 80%;
      filter: blur(1px);
    }
  }
}

.info {
  background: #eff1f7;
  padding: 50px 0;
  color: var(--bs-gray-dark);
  font-weight: 600;
  font-size: 17px;

  &__wrap {
    display: flex;
    justify-content: center;
    @media(max-width: bp.$md) {
      flex-direction: column;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
    @media(max-width: bp.$md) {
      margin: 25px 0;
    }
  }

  img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }

  p {
    text-align: center;
    max-width: 300px;
    line-height: 20px;
  }
}


.started {
  padding: 85px 0;
  text-align: center;
  color: var(--bs-gray-dark);

  h2 {
    margin: 0 auto;
    font-size: 35px;
    line-height: 40px;
    max-width: 900px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  ._button {

    color: var(--white);
    overflow: hidden;
    background-image: linear-gradient(to right, #ff5325 0, #ff7c3f 51%, #ff5325 100%);
    padding: 13px 24px;
    border-radius: 5px;
    background-size: 200% 100%;
    background-position: -100%;
    transition: background-position 275ms ease;
    text-decoration: none;
    z-index: 60;
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;

    &:hover {
      background-position: 0 100%;
      color: white;
    }
  }
}

.footer {
  background: url("../../../../img/footer-bg.webp");
  background-size: cover;
  height: 528px;
  width: 100%;
  padding: 80px 0 30px 0;
  @media (max-width: bp.$mds) {
    height: auto;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    @media (max-width: bp.$mds) {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  &__left {
    @media (max-width: bp.$mds) {
      margin-left: 100px;
    }
    @media (max-width: bp.$xs) {
      margin-left: 50px;
    }

    h2 {
      font-size: 15px;
      margin-bottom: 25px;
      font-weight: 700;
    }

    p {
      max-width: 240px;
      margin-bottom: 26px;
      line-height: 1.7;
      font-size: 16px;
    }

    .icons {
      a {
        margin-right: 15px;
        color: var(--orange);
      }
    }
  }

  &__center {
    margin: 0 53px 0 55px;
    @media (max-width: bp.$mds) {
      margin: 30px 0 30px 100px;
    }
    @media (max-width: bp.$xs) {
      margin-left: 50px;
    }

    h2 {
      font-weight: 700;
      font-size: 20px;
      padding-bottom: 20px;
      margin-bottom: 40px;
      position: relative;
    }

    h2::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 40px;
      background: #ff5325;
    }

    ul {
      li {
        margin-bottom: 15px;
        font-size: 16px;
        transition: .3s;

        i {
          margin-right: 45px;
          color: var(--orange);
        }
      }

      li:hover {
        color: var(--orange);
      }
    }
  }

  &__right {
    @media (max-width: bp.$mds) {
      margin-left: 100px;
    }
    @media (max-width: bp.$xs) {
      margin-left: 50px;
    }

    h2 {
      font-weight: 700;
      font-size: 20px;
      padding-bottom: 20px;
      margin-bottom: 40px;
      position: relative;
    }

    h2::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 40px;
      background: #ff5325;
    }

    ul {
      li {
        margin-bottom: 15px;
        font-size: 16px;
        transition: .3s;

        i {
          margin-right: 15px;
          color: var(--orange);
        }
      }

      li:hover {
        color: var(--orange);
      }
    }
  }

  &__down {
    border-top: 1px solid rgba(187, 221, 233, .1);
    margin: 112px 15px 0 15px;

    .down__wrap {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding-top: 30px;

      .down__right {
        a {
          margin-left: 30px;
          @media (max-width: bp.$mds) {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
          }
        }
      }

      .down__left {
        @media (max-width: bp.$mds) {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}






